.App {
  text-align: center;
}

.App-logo {
  height: 190vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-h1{
  color: transparent;
  background-image: linear-gradient(to right, rgb(255, 68, 68), rgb(65, 65, 255));
  background-clip: text;
  -webkit-background-clip: text;
}
.contains-list{
  width: 90vw;
}
.btn{
  display: flex;
}
button{
  background-color: blue;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  margin: 12px 0;
  margin-right: auto;
  min-width: 100px;
}
button:hover{
  opacity: 0.8;
}

.strick{
  opacity: 0.5;
  position: relative;
  margin: 8px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
}
.strickDate{
  position: relative;
  margin: 8px;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(255, 95, 71);
}
.faild{
  color: rgb(255, 255, 0);
}

.nostrick{
  position: relative;
  margin: 8px;
  width: 100%;
  text-align: left;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}
.form{
  display: flex;
  flex-direction: column;
}

.form-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form-group .input{
  height: 27px;
  margin-right: auto;
  margin-left: 10px;
  width: 90%;
  border-radius: 5px;
  padding: 5px;
}
.form-group label{
  min-width: 10%;
  font-size: 15px;
  line-height: 27px;
}
.btn_complete{
  background: rgb(34, 209, 34);
}
.btn_Accomplished{
  background: rgb(36, 36, 255);
}
.btn_del_complete{
  background: rgb(202, 72, 72);
}
.btn_update_complete{
  background-color: rgb(255, 153, 0);
}
.btn_del_Accomplished,
.btn_update_Accomplished{
  display: none;
}
